.RentingBuyPage {
    padding-bottom: 2rem;

    nav {
        display: flex;
        z-index: 10;
        background: #fff;
        height: 1.2rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #ededed;
        span {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #mask {
        position: fixed;
        padding-top: 1.2rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.2);
        z-index: 8;

        .item {
            background: #fff;
            padding: 0.4rem;
            border-bottom: 1px solid #ededed;
        }

        .more-wrap {
            background: #fff;
            padding: 0.4rem;

            .bottom {
                width: 100%;
                padding: 0.4rem 0;
                margin-bottom: 0.4rem;
            }
        
            .bottom .btn {
                width: 40%;
                font-size: 0.35rem;
                height: 0.8rem;
                line-height: 0.8rem;
                text-align: center;
                background: #55a4b0;
                color: #fff;
            }
        
            .bottom .clear {
                background: #999;
                color: #f0f0f0;
                margin-left: 0.5rem;
            }

            .mwrap {
                margin-bottom: 0.4rem;
                .active {
                    background: #55a4b0;
                    border-color: #55a4b0;
                    color: #fff;
                }
            }

            .mtitle {
                margin-bottom: 0.4rem;
            }

            span {
                font-size: 0.35rem;
                margin-right: 0.2rem;
                margin-bottom: 0.2rem;
                border: 1px solid #ededed;
                padding: 0.1rem 0.3rem;
                display: inline-block;
        
            }
        }

    }

    .top-nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    .iswiper {
        margin-top: 1.1rem;
    }

    .contain {
        background: #fff;
        padding: 0.4rem;
        padding-top: 0;
        font-size: 0.35rem;

        .item {
            padding: 0.4rem 0;
            border-bottom: 1px solid #f0f0f0;
            .img-wrap, img {
                display: block;
                position: relative;
                width: 3rem;
                height: 2rem;
            }

            .img-wrap {
                margin-right: 0.4rem;
                span {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    font-size: 0.3rem;
                    background: rgba(0,0,0,0.4);
                    color: #fff;
                    text-align: center;
                    line-height: 0.55rem;
                }
            }

            .dec {
                width: calc(100% - 3.5rem);
                color: #787878;
                .title {
                    color: #000;
                    font-size: 0.35rem;
                    margin-bottom: 0.4rem;
                }
                .inf {
                    display: block;
                    width: 100%;
                    font-size: 0.35rem;
                    margin-bottom: 0.4rem;
                    
                    .price {
                        color: #f44336;
                    }
                }

            }

        }
    }

    .md-swiper {
        height: 5rem;
    }
    
    .banner-item {
        width: 100%;
        height: 100%;
    }
    
    .md-swiper-item a,.md-swiper-item img {
        display: block;
        width: 100%;
        height: 100%;
    }
}